<!DOCTYPE html>
<html lang="ua">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="public/img/icon.ico" type="image/ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./../public/css/alert.css" />
  <link rel="stylesheet" href="../public/css/auth.css" />
  
  <script src="./../src/js/utils/showAlert.js" defer></script>
  <title>ToGetThere</title>
</head>

<body>
  <div class="wrapper">
    <% if (flashMessage) { %>
    <div class="alert alert-success" role="alert">
      <%= flashMessage %>
      <button type="button" class="close-alert" aria-label="Close" onclick="closeAlert(this)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    <div class="header-wrapper">
      <h1 class="header-h1">Вхід</h1>
    </div>
  </div>

  <form action="/enter" class="form_auth" method="post">
    <div class="message">
      <%=error%>
    </div>
    <div class="form-email div">
      <label for="" class="form-email_label">Email</label>
      <input type="email" name="email" placeholder="name@example.com" required>
    </div>

    <div class="form-password div">
      <label for="" class="form-password_label">Пароль</label>
      <input type="password" name="password" required autocomplete="true" />
    </div>

    <div class="buttons-auth">
      <button type="submit" class="btn_auth">Увійти</button>
      <a class="link-login" href="/login">Ще не маю аккаунта</a>
      </a>
    </div>

  </form>
</body>

</html>