<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.81.1/dist/L.Control.Locate.min.css" />

  <link rel="icon" href="./../public/img/icon96.ico" type="image/ico">
  <link rel="stylesheet" href="./../public/css/elements/Leaflet.AnimatedSearchBox.css">
  <link rel="stylesheet" href="./../public/css/create-event.css" />
  <link rel="stylesheet" href="./../public/css/elements/navigation.css" />
  <link rel="stylesheet" href="./../public/css/elements/card.css" />
  <link rel="stylesheet" href="./../public/css/elements/wrapper.css" />

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.81.1/dist/L.Control.Locate.min.js" charset="utf-8"></script>

  <script src="./../src/utils/Leaflet.AnimatedSearchBox.js" defer></script>
  <script src="./../src/api/getCities.js" defer></script>
  <script src="./../src/main.js" defer></script>
  <script src="./../src/api/showMap.js" defer></script>

  <title>Сворення заходу | ToGetThere</title>
</head>

<body>
  <div class="wrapper">
    <%- include ('navigation') %>
    <div class="header-wrapper">
      <h1 class="header-h1">СТВОРЕННЯ ЗАХОДУ</h1>
    </div>
  </div>
  <form action="/post-event" class="create-event" method="post">
    <div class="form_create-event">
      <div class="form-left">

        <div class="form-name section">
          <label for="name" class="form-name_label">Назва заходу</label>
          <input type="text" name="name" id="name" required placeholder="Футбол">
        </div>

        <div class="form-type section">
          <label for="type" class="form-type_label">Вид спорту</label>
          <select aria-label="Type" name="type" id="type" required>
            <option value="" disabled selected hidden>Виберіть вид спорту</option>
            <%- selectType %>
          </select>
        </div>

        <div class="form-city section">
          <label for="city" class="form-city_label">Місто</label>
          <input name="city" list="cities" placeholder="Введіть місто" required id="city" style="text-transform:uppercase;" />
          <datalist id="cities" name="cities">
          </datalist>
        </div>

        <div class="form-date section">
          <label for="date" class="form-date_label">Дата</label>
          <input type="date" name="date" id="date" min="2022-01-01" max="2026-12-31" placeholder="2023-01-01" required>
        </div>

        <div class="form-time section">
          <label for="time" class="form-time_label">Час</label>
          <input type="time" name="time" id="time" placeholder="10:05" required>
        </div>

        <div class="form-level section">
          <label for="level" class="form-level_label">Рівень</label>
          <select aria-label="level" name="level" id="level" required>
            <option value="" disabled selected hidden>Виберіть рівень </option>
            <%- selectLevel %>
          </select>
        </div>

        <div class="form-addInfo section">
          <label for="addInfo" class="form-addInfo_label">Додаткова інформація</label>
          <textarea name="addInfo" id="addInfo" rows="5" placeholder="Інвентар і т.д"></textarea>
        </div>
      </div>

      <div class="form-right">
        <div class="form-place section">
          <label for="place" class="form-place_label">Місце проведення</label>
          <input type="text" name="place" id="place" placeholder="Парк Перемоги">
        </div>
        <div class="form-maxPart section">
          <label for="maxPart" class="form-maxPart_label">Максимальна кількість учасників</label>
          <input type="number" name="maxPart" id="maxPart" placeholder="15" min="1" max="50" step="1" required>
        </div>
        <div class="map-section">
          <input type="text" name="map" id="mapInput" style="display:none">
          <div id="map" data-lat="" data-long="" name="map">
          </div>
        </div>
        <div class="button-create-event">
          <button class="btn_create-event">Створити</button>
        </div>
      </div>
    </div>
  </form>


</body>

</html>