<nav>
  <div class="ham">
    <span class="bar1"></span>
    <span class="bar2"></span>
    <span class="bar3"></span>
  </div>
  <ul class="nav-sub">
    <li class="list-item"> <a href="/" class="wrapper-nav">Головна</a></li>
    <li class="list-item"><a href="/events" class="wrapper-nav">Заходи</a></li>
    <%if(typeof currentUser!="undefined" ){ %>
    <li class="list-item">
      <a href="/personal-account/<%=currentUser['_id']%>" class="wrapper-nav">
        Особистий кабінет
      </a>
    </li>
    <%}else{%>
    <li class="list-item">
      <a href="/auth" class="wrapper-nav">
        Вхід
      </a>
    </li>
    <%}%>
  </ul>
</nav>