.alert-success {

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  padding: 10px 20px;
  margin-top: 20px;
  background-color: #23be63b0;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  /* Додати анімацію зміни кольору фону */
}

.alert-success:hover {
  background-color: #1a984c;
  /* Змінити колір фону при наведенні */
}

.close-alert {
  border: none;
  cursor: pointer;
  color: white;
  background: transparent;
  font-size: 2em;
  margin-left: 30px;
}