* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header-h1 {
  font-weight: 700;
  color: rgb(54, 54, 54);
  padding-top: 100px;
  font-size: 90px;
  text-align: center;
}

.form_auth {
  display: flex;
  margin: 50px 40px 0 40px;
  flex-direction: column;
  align-items: center;
}

.form_auth label {

  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.82);
  margin-right: 40px;
}

.form_auth .div {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.message {
  color: red;
  margin-bottom: 50px;
  border-bottom: 1px solid red;
  padding-bottom: 10px
}

.form_auth input,
select,
textarea {
  width: 220px;
}

.link-login {
  align-self: center;
  color: #000;
}

.buttons-auth {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn_auth {
  width: 194px;
  height: 50px;
  border: none;
  background: #eb5757;
  border-radius: 60px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 60px;
  cursor: pointer;
}

input,
textarea {
  font-family: 'Montserrat', sans-serif;
}

input {
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-bottom: 1px solid rgb(78, 78, 78);
}

@media screen and (max-width: 767px) {

  .header-h1 {
    padding-top: 160px;
    font-size: 48px;
    margin-left: 0;
  }

  .header-wrapper {
    margin: 0;
  }

  .form_auth {
    margin: 80px 20px 20px;
  }

  .form_auth input,
  select,
  textarea {
    width: 200px;
  }

  .form_personal-info label {
    font-size: 16px;
    margin-right: 10px;
  }

  .btn_change,
  .btn_save {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}