* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper-event {
  background: linear-gradient(180deg,
      rgba(235, 87, 87, 0.6) 0%,
      rgba(235, 87, 87, 0) 100%);
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5% 5% 5% 10%;
  padding-right: 2rem;
  align-items: center;
}

.event-info {
  margin-bottom: 2rem;
  width: 45%;
}

.event-owner {
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
}

.event-owner-a {
  display: flex;
  cursor: pointer;
}

.event-owner_name {
  padding-left: 1rem;
  display: inline;
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.user-info {
  max-height: 0;
  opacity: 0;
  justify-content: space-between;
  margin-top: 1rem;
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
}

.user-info-show {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  max-height: 8.25rem;
  opacity: 1;
}

.user-age,
.user-addInfo-p,
.user-links {
  margin-bottom: 1rem;
}

.user-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-link-phone {
  display: flex;
}

.user-links a {
  margin-right: 1rem;
  text-decoration: none;
  cursor: pointer;
  color: rgb(51, 51, 51);
}

.user-links img {
  margin-right: 0.25rem;
}

.event-name {
  margin-top: 1rem;
  overflow-wrap: break-word;
}

.event-name-h1 {
  font-size: 5vw;
  font-weight: 900;
  color: #333333;
}

.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgb(81, 81, 81);
  margin: 1em 0;
  padding: 0;
}

.event-join {
  width: 12.25rem;
  height: 3rem;
  border: none;
  background: #eb5757;
  border-radius: 60px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-right: 3.75rem;
  margin-top: 1.25rem;
  cursor: pointer;
}

.event-about-list li {
  margin-bottom: 1.25rem;
  list-style-type: '🏀';
  padding-inline-start: 1rem;
}

#map {
  height: 25rem;
}

#map,
.no-map {
  width: 50%;
  min-width: 22rem;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 0 2rem;
    padding-right: 0;
  }

  .event-info {
    width: 90%;
  }

  .event-name-h1 {
    font-size: 8vw;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }

  .event-join {
    margin-bottom: 1.25rem;
  }

  .event-owner {
    margin-top: 3.75rem;
    margin-left: 0.25rem;
  }

  #map,
  .no-map {
    width: 90%;
    min-width: 15.5rem;
    margin-left: 0;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .event-name-h1 {
    font-size: 2rem;
  }
}