* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --main-color: #eb5757;
  --text-color: #333333;
  --background-color: #e5e5e5;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background-color);
}

.wrapper {
  background-image: linear-gradient(0deg, #00000059, #00000059), url('../img/jpeg-optimizer_sportsman2.webp');
}

.content {
  display: flex;
  margin: 2.5rem 1.25rem;
}

.filter {
  height: 100%;
  background: #ffffff;
  box-shadow: 0 0 2.5rem #0000000d;
  border-radius: 10px;
  padding: 2rem;
  margin-left: 3rem;
}

.filter-header,
.section-name {
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.filter-header {
  font-size: 1.5rem;
  color: var(--main-color);
}

.section-name {
  font-size: 0.875rem;
  color: #302f2f;
}

label {
  display: block;
  margin-bottom: 0.625rem;
}

label input {
  margin-right: 0.5rem;
}

.section-select select {
  width: 75%;
  height: 1.875rem;
}

.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.btn-filter,
.cancel-text {
  border-radius: 40px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.btn-filter {
  width: 75%;
  height: 2.25rem;
  background: var(--main-color);
  color: #fff;
  margin: 1.5rem 0.625rem;
}

.btn-filter:hover {
  color: var(--main-color);
  background-color: transparent;
}

.cancel-filter {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.cancel-text:hover {
  color: #ffff;
  background-color: var(--main-color);
}

.cancel-text {
  color: var(--main-color);
  background-color: transparent;
  padding: 0.5rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

.events-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 2.5rem 1rem;
  gap: 3rem;
}

@media screen and (max-width:1116px) {
  .content {
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
  }

  .filter {
    cursor: pointer;
    padding: 0.8rem;
    margin-bottom: 1.1rem;
  }

  .filter-header {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .filter-body {
    visibility: hidden;
    transition: max-height 0.4s ease-out;
    max-height: 0;
    overflow: hidden;
  }

  .filter-body.expanded {
    visibility: visible;
    max-height: 500px;
  }

  .events-card {
    justify-content: center;
  }

  .section-select select,
  .filter-section input {
    margin: 3px;
  }

  .section-name {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .content {
    margin: 1.5rem;
  }

  .events-card {
    gap: 1rem;
  }

  .btn-filter {
    margin: 1rem 0.3rem;
  }

  .filter {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 375px) {

  .filter {
    margin-bottom: 0.25rem;
  }
}