* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: var(#eb5757);
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  position: relative;
  height: fit-content;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/sportswomen.webp) left/cover no-repeat;
  padding-bottom: 13%;
}

.header-wrapper {
  margin-left: 6.5rem;
}

.header-h1 {
  font-weight: 700;
  font-size: 4.75rem;
  line-height: 5.5rem;
  color: white;
  padding-top: 10%;
}

@supports ((-webkit-text-stroke: 2px black)) {
  .header-h2 {
    color: transparent;
    font-family: 'Raleway', sans-serif;
    -webkit-text-stroke: 2px white;
    text-shadow: none;
    font-weight: 900;
    font-size: 6rem;
    margin-top: 1rem;
    letter-spacing: 0.06em;
  }
}

.wrapper-buttons {
  margin-top: 3.25rem;
}

.wrapper-button {
  background: var(--main-color);
  border-radius: 50px;
  color: white;
  cursor: pointer;
  margin-right: 2.5rem;
  padding: 1.25rem 3.75rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.wrapper-button:hover {
  box-shadow: 0 5px 20px rgb(40, 40, 40);
}

.header-events {
  display: flex;
  justify-content: space-between;
  padding: 4.5rem 4.5rem 3.75rem 3.75rem;
}

.header-events-h3,
.how-works-h3 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--main-color);
}

.events-all {
  font-weight: 500;
  font-size: 1rem;
  text-decoration-line: underline;
  color: rgb(40, 40, 40);
}

.events-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
  margin: 1.25rem 3.25rem 3.25rem;

}

.about {
  position: relative;
  margin-top: 6.25rem;
  margin-bottom: 3.25rem;
}

.about-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/about.webp) center/cover no-repeat;
  border-radius: 0 10px 10px 0;
  height: 39.75rem;
  width: 75%;
  margin-right: 23.75rem;
}

.about-info {
  position: absolute;
  padding: 2.25rem;
  top: 9.5rem;
  right: 12.5rem;
  width: 28.25rem;
  background: #ededed;
  border-radius: 0.625rem;
}

.about-h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 1.25rem;
}

.about-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #282828;
}

.how-works {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.how-works-h3 {
  text-align: center;
  margin-bottom: 3.25rem;
  margin-top: 2.25rem;
}

.how-works-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 3.75rem;
}

.how-works-item {
  width: 16.75rem;
  text-align: center;
  padding: 1.25rem;
}

.how-works-item-h4 {
  font-weight: 700;
  font-size: 1.375rem;
  color: var(--main-color);
  padding: 1rem 0;
}

@media screen and (max-width: 765px) {

  .wrapper {
    background-position: center;
  }

  .header-h1 {
    font-size: 2.5rem;
    padding-top: 7%;
    line-height: 1.6;
  }

  .header-wrapper {
    padding: 1rem;
    margin: 1rem 1rem 0;
  }

  .header-events-h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  @supports ((-webkit-text-stroke: 2px black)) {
    .header-h2 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
  }

  .wrapper-buttons {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
  }

  .wrapper-button {
    margin: 0.5rem;
    padding: 1rem;
    width: fit-content;
  }

  .header-events {
    flex-wrap: wrap;
    padding: 1.5rem;
  }

  .header-events-h3 {
    margin-bottom: 2rem;
  }

  .events-all {
    align-self: flex-end;
  }

  .events-cards {
    margin: 1rem;
  }

  .about,
  .how-works-h3 {
    margin-top: 3rem;
  }

  .about-img {
    width: 85%;
  }

  .about-info {
    padding: 1.75rem;
    top: 12rem;
    right: 0.7rem;
    width: 19.25rem;
  }

  .about-text {
    font-size: 0.8rem;
  }

  .how-works-items {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .header-wrapper {
    margin: 0;
  }

  .header-events {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1.5rem 0.5rem 0;
    margin: 0.5rem;
  }

  .wrapper-buttons {
    justify-content: space-between;
  }
}