* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

input,
textarea {
  font-family: 'Montserrat', sans-serif;
}

input {
  border: none;
  border-bottom: 1px solid rgb(78, 78, 78);
}

header {
  padding-top: 5%;
}

.header-h1 {
  font-weight: 700;
  color: rgb(54, 54, 54);
  font-size: 5vw;
  text-align: center;
}

.message {
  color: red;
  text-align: center;
  margin: 3rem 0;
}

.form_reg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  background-color: #fff;
  row-gap: 3rem;
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 2.5rem;
}

.div label {
  font-weight: 500;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.82);
  margin-right: 0.625rem;
}

.form-phoneCheck_label {
  font-size: 0.8rem;
}

.form-phone-show {
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
}

.div textarea,
.div input {
  width: 40%;
  margin: 1px;
}

.link-enter {
  align-self: center;
  color: #000;
}

.buttons-reg {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin-bottom: 2.5rem;
}

.btn_reg {
  font-size: 1rem;
  padding: 1rem;
  border: none;
  background: #eb5757;
  border-radius: 3.75rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 3.75rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {

  .header {
    margin: 0;
  }

  .header-h1 {
    margin-left: 0;
    font-size: 6vw;
    padding-top: 10%;
  }

  .message {
    font-size: 0.8rem;
    margin: 2rem 0.5rem;
  }

  .form_reg {
    margin: 0 auto;
    width: 70%;
    align-items: stretch;
    row-gap: 2rem;
  }

  .div {
    flex-direction: column;
    row-gap: 2rem;
    align-items: flex-start;
  }

  .div label {
    font-size: 1rem;
  }

  .form-phoneCheck_label {
    font-size: 0.8rem;
  }

  .form-phoneCheck_input {
    margin-right: 0.3rem;
  }

  .form_reg input:not(.form-phoneCheck_input),
  .form_reg textarea {
    width: 100%;
  }

}