:root {
  font-size: 16px;
  --main-color: #eb5757;
  --text-color: #333333;
}

.card {
  filter: drop-shadow(0 4px 4px #00000040);
  background: linear-gradient(to right, #ffffff92 0%, #ffffff92 100%), url(./../../img/fon.jpg) center / cover no-repeat;
  padding: 0 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 330px;
  height: 300px;
  flex: 0 0 auto;
}

.top-card-event,
.date-event,
.time-event {
  display: flex;
  align-items: center;
  padding-top: 1.25rem;
}

.city-event {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.city-event-name,
.place-event-name,
.date-event-name,
.time-event-name {
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
}

.type-event-name {
  font-weight: 700;
  font-size: 2rem;
  color: var(--text-color);
  padding-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-event {
  margin: 1.25rem 0;
  width: 200px;
}

.button-more {
  font-size: 1rem;
  background: var(--main-color);
  border-radius: 2.5rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 0.625rem 2.5rem;
  transition: all 0.6s ease-in-out;
}

.button-more:hover {
  box-shadow: 0 5px 10px rgb(103, 103, 103);
}

@media screen and (max-width:1116px) {

  .card {
    width: 300px;
  }

  .section-name {
    margin-right: 1rem;
  }

  .type-event-name {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .card {
    height: 100%;
  }
}

@media screen and (max-width: 375px) {

  .card {
    width: 250px;
    margin: 1rem 1.25rem;
    padding: 0 1.25rem;
  }
}